
  
  .quote {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    font-size: 14px;
    padding: 8px 14px;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
    border: 1px solid #66cc33;
    background: #66cc33;
    color: #333;
    z-index: 0;
  }
  
  /* Background Effect for Quote Button (Top to Bottom) */
  .quote::before {
    content: "";
    position: absolute;
    left: 0;
    top: -100%;
    /* Initially hidden */
    width: 100%;
    height: 100%;
    color: #c5c1c1;
    background: #ffffff;
    transition: top 0.3s ease-in-out;
    z-index: -1;
  }
  
  .quote:hover::before {
    top: 0;
    /* Moves background from top to bottom */
  }
  
  /* Text color change on hover */
  .phone:hover {
    color: white;
  }
  
  .quote:hover {
    color: #7e7b7b;
  }
  
  
  .form-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    z-index: 1000;
  }
  
  .form-container {
    background: white;
    padding: 20px;
    width: 90%;
    max-width: 500px;
    border-radius: 8px;
    position: relative;
    animation: fadeIn 0.3s ease-in-out;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; transform: scale(0.95); }
    to { opacity: 1; transform: scale(1); }
  }
  
  .form-container h2 {
    text-align: center;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-container label {
    font-size: 14px;
    font-weight: bold;
    color: #444;
  }
  
  .form-container input, select {
    width: 95%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }


  
  
  .submit-button {
    width: 100%;
    padding: 10px;
    background: #ff9800;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
  }
  
  .submit-button:hover {
    background: #e68900;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  .error {
    color: red;
    font-size: 12px;
  }
  
  .message {
    text-align: center;
    font-weight: bold;
    color: green;
  }
  