

.about-overlay {
    text-align: center;
    color: white;
    width: 98%;
    height: 35rem;
    background-image: url(../../assets/images/Caresoul2.png);
    border-radius: 24px;
    overflow: hidden;
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover; 
    margin: auto;
    align-content: center;
    justify-items: center;
  }
  
  .residencal-overlay::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(122, 122, 122, 0.5); 
    z-index: 1;
  }
  
  .residencal-content {
     justify-items: center;
  }
  
  
  .residencal-content h2 {
    font-size: clamp(35px, 6vw, 40px);
    margin-bottom: 10px;
  }
  
  .residencal-content p {
    font-size: clamp(14px, 3vw, 18px);
    margin-bottom: 15px;
  }


.about-compan {
    width: 100%;
    height: 100%
  }
  
  .about-compan-in {
    width: 80%;
    margin-left: 7%;
  }
  
  .about-compan-in h2 {
  
    font-size: 25px;
    color: #252424;
    font-weight: 500;
  }
  
  .about-compan-in p {
    font-size: 15px;
    color: #3f3d3d;
  }


  .social-impect {
    padding: 50px 20px;
    background-color: #fff;
    background-image: url(../../assets/images/infinity-logo.png);
    background-repeat: no-repeat;
  }
  
  .social-impect h2 {
    font-size: 2rem;
    margin-bottom: 30px;
  }
  
  .features-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .features-grids {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .feature-card {
    background: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out;
  }
  
  .feature-card:hover {
    transform: translateY(-5px);
  }
  
  .feature-card img {
    width: 60px;
    margin-bottom: 15px;
  }
  
  .feature-card p {
    font-size: 1rem;
    font-weight: 500;
    color: #333;
  }
  
  



  
  /* Responsive Styles */
  @media (max-width: 1024px) {
    .team-members {
      width: 95%;
    }
  
    .co-founder {
      gap: 10px;
    }
  }
  
  @media (max-width: 768px) {

        
    .About-content {
      max-width: 100%;
    }
  
    
    .team-members h2 {
      font-size: 1.5rem;
    }
  
    .members {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      padding: 10px;
    }
  
    .memdetails {
      padding: 15px;
    }
  
    .memdetails img {
      width: 100px;
      height: 100px;
    }

    .feature-card p {
      font-size: 21px;

  }
  }
  
  @media (max-width: 480px) {
    .team-members {
      width: 100%;
    }
  
    .members {
      grid-template-columns: 1fr;
    }
  
    .memdetails img {
      width: 90px;
      height: 90px;
    }
  
    .icon_wrapper {
      font-size: 22px;
    }
  }
  